<div class="intro">
  <div class="intro_inner">
    <table class="table_main">
      
  
     <td class="rcolumn">
          <h1>Контактная информация</h1>
          <div class="table">
            <td>
              <b>Адрес:</b><br>
                Кемеровская область, г..Прокопьевск‚ ул. Гайдара, дом<br>50а<br>
                Офис: 303</td>
              <td><b>Время работы клиники:</b><br>
                Пн-Пт: 9:00  - 18:00<br>
                Сб: 09:00  - 13:00<br>
                вск: выходной</td>
              <td></td>
              <td><b>Забор анализов:</b><br>
                Пн-Пт: 8:00  - 12:00<br>
                Сб: 09:00  - 12:00</td>
              <td><b>Телефон:</b><br>
              (3846) 652-652<br>
              8 -903-0-677-888<br>
              <a href="#">E-mail: medlife.prk@mail.ru</a></td>
              <td><b>Время работа контакт центра:</b><br>
                Пн-Пт: 9:00  - 18:00 <br>
                Сб: 09:00  - 13:00</td>
            </div>
          <img src="/assets/images/Oazis.jpg" alt="Oazis"> 
      </td>
    </table>

  </div>
</div>
