<div class="contacts-container">
  <h1>Контактная информация</h1>

  <address>
    Пишите нам: <a href="medlife.prk@mail.ru">  (medlife.prk@mail.ru)</a>.<br>
    Адрес: Кемеровская область, г.Прокопьевск‚ <br>
    ул. Гайдара, дом 50а Офис: 303<br>
    тел. 8(3846)652-652, 8-903-0-677-888
  </address>

  <div class="map-container">
    <ya-map [center]="[53.858710900449715, 86.63521399743246]" [zoom]="17">
      <ya-placemark [geometry]="[53.858710900449715, 86.63521399743246]"></ya-placemark>
    </ya-map>
  </div>
</div>
