<div class="contacts-container">
  <h1>Контактная информация</h1>

  <address>
    Пишите нам: <a [href]="(generalInfo$ | async)?.attributes?.EMail">({{(generalInfo$ | async)?.attributes?.EMail}})</a>.<br>
    Адрес: {{(generalInfo$ | async)?.attributes?.address}}
    <br>
    тел. {{normalizePhones((generalInfo$ | async)?.attributes?.companyPhones)}}
  </address>
  
  <div class="map-container">
    <ya-map [center]="getCoordinates((generalInfo$ | async)?.attributes?.coordinates)" [zoom]="17">
      <ya-placemark [geometry]="getCoordinates((generalInfo$ | async)?.attributes?.coordinates)"></ya-placemark>
    </ya-map>
  </div>
</div>
