@import "~swiper/css";
@import "~swiper/css/free-mode";
@import "~swiper/css/navigation";
@import "~swiper/css/thumbs";

.flex-container {
    display: flex;
    flex-direction: column;
    margin: 32px 16px 16px 16px;

    .history {
        markdown {
            text-align: justify;
        }
    }

    .licenses {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-right: -32px;

        .image {
            width: 240px;
            height: 320px;
            background-size: 100% 100%;
            margin-right: 32px;
            flex-wrap: wrap;
        }
    }
}
