<div class="carusel" fxLayout>
    <swiper
        [spaceBetween]="30"
        [centeredSlides]="true"
        
        [pagination]="{
            clickable: true
        }"
        [navigation]="true"
        class="mySwiper"
        [autoplay]="{
            delay: 5000,
            disableOnInteraction: false
        }"
    >
        <ng-template swiperSlide *ngFor="let slide of (caruselData$ | async)?.data">
            <div class="main-carusel-container">
                <div class="image-container"
                    [style.background-image]="getBgImage(slide, config$ | async)"
                ></div>
            </div>
            <div class="parallelogram">
                <div class="text-content">
                    <div class="header">
                        <h2>{{slide?.attributes?.header}}</h2>
                    </div>
                    <div class="text">
                        <markdown class="variable-binding" [data]="slide?.attributes?.description"></markdown>
                    </div>
                </div>
            </div>
        </ng-template>
  </swiper>
</div>