@import '/src/assets/theme/main.theme';

:host {
    background-color: rgba($main-color, 0.2);
    

    .footer {
        min-height: 25px;
        padding: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 16px;

        .contacts {
            display: flex;
            flex-direction: row;
            gap: 8px;
        }
    }
}