<div class="spec-container">
    <button class="button type4" [routerLink]="['/specialists']">
        < К докторам
    </button>
    <div class="personal-info">
        <div class="image" [style.background-image]="'url(' + (config$ | async)?.BACKEND_CONTEXT + getImgPath((doctors$ | async)) + ')'"></div>
        <mat-card class="info-card">
            <mat-card-title>{{getDocInfo(doctors$ | async)?.attributes?.fullName}}</mat-card-title>
            <mat-card-subtitle>{{getSpecsString(getSpecs(doctors$ | async))}}</mat-card-subtitle>
            <mat-card-content>
              <p>{{getDocInfo(doctors$ | async)?.attributes?.description}}</p>
            </mat-card-content>
        </mat-card>
    </div>
    <h2>Услуги</h2>
    <div class="services">
        <ng-container *ngIf="doctorsSpecServiceMap$ | async">
            <div class="service" *ngFor="let specName of getSpecs(doctors$ | async)">
                <mat-accordion>
                    <mat-expansion-panel hideToggle *ngFor="let service of (doctorsSpecServiceMap$ | async)[specName]">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{service.attributes?.name}}
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="description">
                          <label [for]="'description-' + service.id">Описание:</label>
                          <markdown class="variable-binding" [id]="'description-' + service.id" [data]="service.attributes?.description"></markdown>
                      </div>
                      <div class="price">
                        Цена: {{service.attributes?.price}}
                      </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </ng-container>
    </div>
    <div class="schedule" *ngIf="displaySchedule">
        <h2>Расписание</h2>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="monday">
                <th mat-header-cell *matHeaderCellDef>Пнд</th>
                <td mat-cell *matCellDef="let element">{{element.monday}}</td>
            </ng-container>
            <ng-container matColumnDef="tuesday">
                <th mat-header-cell *matHeaderCellDef>Втр</th>
                <td mat-cell *matCellDef="let element">{{element.tuesday}}</td>
            </ng-container>
            <ng-container matColumnDef="wednesday">
                <th mat-header-cell *matHeaderCellDef>Срд</th>
                <td mat-cell *matCellDef="let element">{{element.wednesday}}</td>
            </ng-container>
            <ng-container matColumnDef="thursday">
                <th mat-header-cell *matHeaderCellDef>Чтв</th>
                <td mat-cell *matCellDef="let element">{{element.thursday}}</td>
            </ng-container>
            <ng-container matColumnDef="friday">
                <th mat-header-cell *matHeaderCellDef>Пят</th>
                <td mat-cell *matCellDef="let element">{{element.friday}}</td>
            </ng-container>
            <ng-container matColumnDef="saturday">
                <th mat-header-cell *matHeaderCellDef>Суб</th>
                <td mat-cell *matCellDef="let element">{{element.saturday}}</td>
            </ng-container>
            <ng-container matColumnDef="sunday">
                <th mat-header-cell *matHeaderCellDef>Вск</th>
                <td mat-cell *matCellDef="let element">{{element.sunday}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</div>
