$themes: (
  alertness: (
    alpha: (
      default: #1e648a,
      white: #FFF,
      main-bg-color: #ecf5fd,
      pathologies-up: #31475e,
      pathologies-down: #0f2236,
      publication-color: #848484,
      separator-color: #d8d8d8,
      main-text-color: #333333,
      active-circle-bg-color: #31475e,
      disabled-circle-color: #b6c5d5,
      error: #FF151F,
      checkbox-active: #4ECE3D,
      checkbox-unchecked: #C5D9E8,
      checkbox-mark-fill: #FEFEFE,
      checkbox-disabled-active: #C5D9E8,
      checkbox-disabled-border: #B9CDDD,
      checkbox-focused-background: #ECF5FD,
      checkbox-focused-border: #176087,
      checkbox-focused-box-shadow: #176087,
      radio-background: #FFF,
      radio-border: #c5d9e8,
      radio-checked-background: #0093ee,
      radio-label-color: #3F536E,
      login-card-shadow: rgba(44, 64, 90, 0.21),
      login-card-inset: #7e95a7,
      login-background: #ecf5fd,
      blue-grey: #8dabc4,
      azure: #0093ee,
      input-border: #a8c6df,
      input-color: #8dabc4,
      textarea-border: #a8c6df,
      textarea-color: #8dabc4,
      overlay: rgba(255, 255, 255, 0.8),
      button-color: #fff,
      button-background: #176087,
      button-color-disabled: #fff,
      button-background-disabled: #a2dcff,
      button-shadow-disabled: rgba(255, 255, 255, 0.05),
      button-hover: #176087,
      button-hover-color: #fff,
      button-active: #176087,
      button-border: rgba(0, 0, 0, 0.05),
      button-shadow: rgba(255, 255, 255, 0.05),
      toolbar: #176087,
      toolbar-text: #ffffff,
      divider: rgba(255, 255, 255, 0.1),
      sidenav-border: #357093,
      sidenav-shadow: rgba(15, 16, 16, 0.17),
      apple-green: #81C926,
      pale-grey: #ECF5FD,
      light-navy: #176087,
      sidenav-selected-border: #81C926,
      sidenav-background: #176087,
      sidenav-content-background: #FFF,
      headings-color: #2c405a,
      breadcrumbs-icon-color: #A8C6DF,
      breadcrumbs-text-color: #3f536e,
      data-table-border: #C5DBEA,
      data-table-color: #8DABC4,
      data-table-head-row-border: #D8E5EE,
      data-table-body-row-border: #E5EEF5,
      data-table-body-color: #3F536E,
      data-table-row-hover-bg: #FAFBFC,
      data-table-row-hover-shadow: #999999,
      data-table-row-hover-side-line: #0093EE,
      form-icon-trigger-color: #a8c6df,
      form-text-color: #3f536e,
      form-common-border: #d8e5ee,
      struct-table-header: #8dabc4,
      select-color: #3F536E,
      select-arrow: #A1C6E1,
      select-active: #D8E5EE,
      select-border-main: #A8C6DF,
      select-border-hover: #ECF5FD,
      select-scrollbar-track: #EAEAEA,
      select-scrollbar-thumb: #BFCDD8,
      select-tooltip-color: #43536C,
      select-tooltip-border: #DAE5ED,
      select-tooltip-background: #EDF5FC,
      menu-background: #ffffff,
      menu-color: #8dabc4,
      entity-select-background: #ffffff,
      entity-select-input: #445771,
      entity-select-placeholder: #3f536e,
      entity-select-main: #4ece3d,
      entity-select-option-selected: rgba(216, 216, 216, 0.2),
      datepicker-selected-date-background: #0093ee,
      datepicker-selected-date-color: #ffffff,
      datepicker-outer-date-color: #9b9b9b,
      datepicker-overlay-border: #c5c5c5,
      datepicker-trigger-color: #a8c6df,
      datepicker-overlay-shadow: rgba(0, 0, 0, 0.2),
      field-not-filled: #9fb8cd,
      scrollbar-foreground: #c5d9e8,
      scrollbar-track-background: #e3eef4,
      scrollbar-track-border: #e3eef4,
      scrollbar-button-border: rgba(0, 0, 0, 0),
      scrollbar-button-active: #eff6fb,
      entity-select-wrapper-border: #ebebeb,
      tooltip-color: #43536C,
      tooltip-border: #DAE5ED,
      tooltip-background: #EDF5FC

    ),
    bravo: (
      default: #28536B,
      white: #FFF,
      input-color: #ffffff,
      input-background: transparent,
      textarea-border: #ffffff,
      textarea-color: transparent,
      headings-color: #3F536E,
      button-color: #176087,
      button-color-disabled: #fff,
      button-background-disabled: #a2dcff,
      button-background: #fff,
      button-hover: #c5d9e8,
      button-hover-color: #176087,
      button-hover-background: #e1ebf5,
      button-active: #c5d9e8,
      button-border: #c5d9e8,
      button-shadow: rgba(255, 255, 255, 0.05),
      button-shadow-disabled: rgba(255, 255, 255, 0.05),
      alt-password-input: rgba(183, 210, 229, 0.8),
    ),
    charlie: (
      default: #C2948A,
      white: #FFF
    ),
    delta: (
      default: #F6F0ED,
      white: #FFF
    ),
    echo: (
      default: #BBB193,
      white: #FFF
    )
  )
);
