<div class="wrapper"> 
  <div class="block">

    <div class="block_item"> 
      <img src="/assets/images/sk-KudrR.png" width="150" height="150" alt="Авдеев В И">
      <h3> Авдеев Виктор <br> Иванович </h3>
      <h4> Пульмонолог  </h4>  
    </div>

    <div class="block_item"> 
      <img src="/assets/images/Sotrudnic/BoboshUL.png" width="150" height="150" alt="Бобош Ю Л">
      <h3> Бобош Юрий <br> Львович </h3>
      <h4> Сосудистый хирург Врач УЗД  </h4>  
    </div>

    <div class="block_item"> 
      <img src="/assets/images/sk-KudriaER.png" width="150" height="150" alt="Буторина А А">
      <h3> Буторина Алена <br>  Александровна </h3>
      <h4> Онколог  </h4>  
    </div>

    <div class="block_item"> 
      <img src="/assets/images/Sotrudnic/GvozdaNI.png" width="150" height="150" alt="Бурков А Н">
      <h3>Бурков Анатолий <br> Николаевич </h3>
      <h4> Проктолог </h4>  
    </div>  

    <div class="block_item"> 
      <img src="/assets/images/Sotrudnic/GvozdukovaNI.png" width="150" height="150" alt="ГвоздюковаНИ">
      <h3>Гвоздюкова  Наталья <br> Ивановна </h3>
      <h4>Врач УЗ - диагностики</h4>  
    </div>

    <div class="block_item"> 
      <img src="/assets/images/Sotrudnic/GvoovaNI.png" width="150" height="150" alt="Грищенко Е Ю">
      <h3>Грищенко Елена <br> Юрьевна </h3>
      <h4> Врач УЗ-диагностики </h4>  
    </div>

    <div class="block_item"> 
      <img src="/assets/images/Sotrudnic/GvoaNI.png" width="150" height="150" alt="Грищенко М В">
      <h3>Грищенко Михаил <br> Валерьевич </h3>
      <h4> Врач -дерматолог </h4>  
    </div>

    <div class="block_item"> 
      <img src="/assets/images/Sotrudnic/DumchevaOA.png" width="150" height="150" alt="Думчева О А">
      <h3>Думчева Ольга <br> Анатольевна </h3>
      <h4>  Администратор </h4>  
    </div>

    <div class="block_item"> 
      <img src="/assets/images/Sotrudnic/IvanishevaTV.png" width="150" height="150" alt="Иванищева Т В">
      <h3> Иванищева Таттьяна <br> Владимировна </h3>
      <h4>  рентгенолаборант </h4>  
    </div>


    <div class="block_item"> 
      <img src="/assets/images/Sotrudnic/KorchaUS.png" width="150" height="150" alt="КоротчукИМ">
      <h3>Коротчук Игорь  <br> Михайлович</h3>  
      <h4>Онколог (маммолог)</h4>  
    </div> 



    <div class="block_item"> 
      <img src="/assets/images/Sotrudnic/KorchaginaUS.png" width="150" height="150" alt="КорчагинаЮС">
      <h3>Корчагина Юлия <br> Сергеевна</h3>  
      <h4>Кардиолог, терапевт</h4>  
    </div> 

    <div class="block_item"> 
      <img src="/assets/images/Sotrudnic/KorchaginEN.png" width="150" height="150" alt="КорчагинЕН">
      <h3>Корчагин Евгений <br> Николаевич </h3>
      <h4>Врач функциональной диагностики</h4>  
    </div>

    <div class="block_item"> 
      <img src="/assets/images/Sotrudnic/KudrishovaER.png" width="150" height="150" alt="КудрявцеваЕР">
      <h3>Кудрявцева Елена <br> Равильевна </h3>
      <h4>Акушер-гинеколог</h4>  DumchevaOA
    </div>

    <div class="block_item"> 
      <img src="/assets/images/Sotrudnic/KuzminaTM.png" width="150" height="150" alt="Кузьмина Т М">
      <h3>Кузьмина Татьяна <br> Михайловна </h3>
      <h4>	Врач эндоскопист </h4>  
    </div>


    <div class="block_item"> 
      <img src="/assets/images/Sotrudnic/LonchakovaIU.png" width="150" height="150" alt="ЛончаковаИЮ">
      <h3>Лончакова Ирина <br> Юрьевна</h3>  
      <h4>Сосудистый хирург (флеболог), </h4>  
      <h4>врач УЗ - диагностики</h4>      
    </div>
 
    <div class="block_item"> 
      <img src="/assets/images/Sotrudnic/LonvaIU.png" width="150" height="150" alt="Лазарева С В ">
      <h3>Лазарева Светлана <br> Владимировна </h3>  
      <h4> 	Врач невролог,вертеброневролог,  </h4>  
      <h4> 	иглорефлексотерапевт  </h4>  
    </div>

    <div class="block_item"> 
      <img src="/assets/images/Sotrudnic/LoIU.png" width="150" height="150" alt="Лиханова Е В ">
      <h3>Лиханова Елена <br> Владимировна </h3>  
      <h4> 	Акушер-гинеколог кольпоскопия  </h4>  
    </div> 

    <div class="block_item"> 
      <img src="/assets/images/sk-KudraER.png" width="150" height="150" alt="Муслихова О Ф">
      <h3>Муслихова Ольга  <br> Фатиховна </h3>  
      <h4>Эндокринолог диабетолог</h4>  
    </div> 

    <div class="block_item"> 
      <img src="/assets/images/sk-KudrisER.png" width="150" height="150" alt="Мухамедеева А С">
      <h3>Мухамедеева Анастасия <br> Саматовна </h3>
      <h4> Врач УЗ-диагностики </h4>  
    </div>

    <div class="block_item"> 
      <img src="/assets/images/sk-KusER.png" width="150" height="150" alt="Орловский С И">
      <h3> Орловский Сергей <br> Игоревич </h3>
      <h4> Врач гастроэтеролог </h4>  
    </div>
    
    <div class="block_item"> 
      <img src="/assets/images/sk-KusR.png" width="150" height="150" alt="Процук О О">
      <h3> Процук Ольга <br> Олеговна </h3>
      <h4> Кардиолог </h4>  
    </div>
    
    <div class="block_item"> 
      <img src="/assets/images/Sotrudnic/ChibirakovaNU.png" width="150" height="150" alt="Чибирякова Н Ю">
      <h3> Чибирякова Наталья <br> Юрьевна </h3>
      <h4> Медсестра </h4>  
    </div>

  </div>
</div>
