<div class="wrapper"> 
  <div class="block">

    <div class="block_item"> 
      <img src="/assets/images/sk_KorchaginaUS.png" width="150" height="150" alt="КорчагинаЮС">
      <h3>Корчагина Юлия <br> Сергеевна</h3>  
      <h4>Кардиолог, терапевт</h4>  
    </div> 

    <div class="block_item"> 
      <img src="/assets/images/sk_KorchaginEN.png" width="150" height="150" alt="КорчагинЕН">
      <h3>Корчагин Евгений <br> Николаевич </h3>
      <h4>Врач функциональной диагностики</h4>  
    </div>

    <div class="block_item"> 
      <img src="/assets/images/sk-KudrishovaER.png" width="150" height="150" alt="КудрявцеваЕР">
      <h3>Кудрявцева Елена <br> Равильевна </h3>
      <h4>Акушер-гинеколог</h4>  
    </div>

    <div class="block_item"> 
      <img src="/assets/images/sk-LonchakovaIU.png" width="150" height="150" alt="ЛончаковаИЮ">
      <h3>Лончакова Ирина <br> Юрьевна</h3>  
      <h4>Сосудистый хирург (флеболог), врач УЗ - диагностики</h4>  
    </div>

    <div class="block_item"> 
      <img src="/assets/images/sk-KudrishovaER.png" width="150" height="150" alt="КудрявцеваЕР">
      <h3>Кудрявцева Елена <br> Равильевна</h3>  
      <h4>Акушер-гинеколог</h4>  
    </div> 
    <div class="block_item"> 
      <img src="/assets/images/sk-KudrishovaER.png" width="150" height="150" alt="КудрявцеваЕР">
      <h3>Кудрявцева Елена <br> Равильевна </h3>
      <h4>Акушер-гинеколог</h4>  
    </div>

    <div class="block_item"> 
      <img src="/assets/images/sk-KudrishovaER.png" width="150" height="150" alt="КудрявцеваЕР">
      <h3>Кудрявцева Елена <br> Равильевна</h3>  
      <h4>Акушер-гинеколог</h4>  
    </div>

    <div class="block_item"> 
      <img src="/assets/images/sk-KudrishovaER.png" width="150" height="150" alt="КудрявцеваЕР">
      <h3>Кудрявцева Елена <br> Равильевна</h3>  
      <h4>Акушер-гинеколог</h4>  
    </div> 
    <div class="block_item"> 
      <img src="/assets/images/sk-KudrishovaER.png" width="150" height="150" alt="КудрявцеваЕР">
      <h3>Кудрявцева Елена <br> Равильевна </h3>
      <h4>Акушер-гинеколог</h4>  
    </div>

    <div class="block_item"> 
      <img src="/assets/images/sk-KudrishovaER.png" width="150" height="150" alt="КудрявцеваЕР">
      <h3>Кудрявцева Елена <br> Равильевна</h3>  
      <h4>Акушер-гинеколог</h4>  
    </div>

    <div class="block_item"> 
      <img src="/assets/images/sk-KudrishovaER.png" width="150" height="150" alt="КудрявцеваЕР">
      <h3>Кудрявцева Елена <br> Равильевна</h3>  
      <h4>Акушер-гинеколог</h4>  
    </div> 
    <div class="block_item"> 
      <img src="/assets/images/sk-KudrishovaER.png" width="150" height="150" alt="КудрявцеваЕР">
      <h3>Кудрявцева Елена <br> Равильевна </h3>
      <h4>Акушер-гинеколог</h4>  
    </div>

    <div class="block_item"> 
      <img src="/assets/images/sk-KudrishovaER.png" width="150" height="150" alt="КудрявцеваЕР">
      <h3>Кудрявцева Елена <br> Равильевна</h3>  
      <h4>Акушер-гинеколог</h4>  
    </div>

    <div class="block_item"> 
      <img src="/assets/images/sk-KudrishovaER.png" width="150" height="150" alt="КудрявцеваЕР">
      <h3>Кудрявцева Елена <br> Равильевна</h3>  
      <h4>Акушер-гинеколог</h4>  
    </div> 
    <div class="block_item"> 
      <img src="/assets/images/sk-KudrishovaER.png" width="150" height="150" alt="КудрявцеваЕР">
      <h3>Кудрявцева Елена <br> Равильевна </h3>
      <h4>Акушер-гинеколог</h4>  
    </div>

    <div class="block_item"> 
      <img src="/assets/images/sk-KudrishovaER.png" width="150" height="150" alt="КудрявцеваЕР">
      <h3>Кудрявцева Елена <br> Равильевна</h3>  
      <h4>Акушер-гинеколог</h4>  
    </div>

    <div class="block_item"> 
      <img src="/assets/images/sk-KudrishovaER.png" width="150" height="150" alt="КудрявцеваЕР">
      <h3>Кудрявцева Елена <br> Равильевна</h3>  
      <h4>Акушер-гинеколог</h4>  
    </div> 
  </div>
</div>
