.main-page-container {
    flex-basis: 100%;

    .service-container {
        margin: 32px;
        min-height: 300px;

        .popular-services {
            height: 30vw;
            max-height: 250px;
        }
    }
}