<div fxLayout="row" fxLayoutGap="32px">
  <div fxLayout="column" class="left">
    <div class="leftmenu">
      <h4 class="menu-title">Наши направления</h4>

      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-icon-button disabled></button>
          {{node.name}}
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
          <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name}}
        </mat-tree-node>
      </mat-tree>

    </div>
    <div fxLayout="column" class="services">
      <h3 class="services-title">Наши услуги</h3>
      <p>В нашей клинике вы можете получить профессиональное обслуживание на высоком уровне. Основными направления
        являются:</p>



      <ul class="service-list">
        <li>
          <div class="service-list-title">
            <a href="#">УЗИ сосудов шеи и конечностей</a><br>
          </div>
          <p></p>
        </li>
        <li>
          <div class="service-list-title">
            <a href="#">услуги врача сосудистого хирурга (флеболога)</a><br>
          </div>
          <p>
            Прием ведет Лончакова Ирина Юрьевна<br>
            С 2004 г. по настоящее время врач-сердечно-сосудистый хирург отделения кардиохирургии НИИ КПССЗ СО РАМН.
            Занимается научной работой по проблеме амбулаторной помощи больным с поражением периферических сосудов,
            консультативной работой, амбулаторной хирургией заболеваний венозной системы.<br>
            Владеет всеми хирургическими методиками лечения венозной патологии. Является активно оперирующим хирургом. В
            2011 году прошла первичную специализацию по специальности «Ультразвуковая диагностика».<br>
            Впервые начала применять в Кемерово УЗИ-диагностику венозной системы во время консультативного приема,
            миниинвазивную хирургию в лечении варикозной болезни.<br>
            С 2009 г. руководит Городским центром амбулаторной сосудистой хирургии. </p>
        </li>
        <li>
          <div class="service-list-title">
            <a href="#">УЗИ головного мозга (нейросонография) дети до 1 года</a><br>
          </div>
          <p></p>
        </li>
        <li>
          <div class="service-list-title">
            <a href="#">Контрольное УЗИ органов малого таза при НОМЦ (в течение 10 дней)</a><br>
          </div>
          <p></p>
        </li>
        <li>
          <div class="service-list-title">
            <a href="#">Удаление контагиозного моллюска (1 единица)</a><br>
          </div>
          <p></p>
        </li>
      </ul>



    </div>
  </div>
  <div fxLayout="column" class="middle">
    middle
  </div>
  <div fxLayout="column" class="right">
    right
  </div>
</div>