.main-page-container {
    flex-basis: 100%;

    .service-container {
        margin: 32px;
        min-height: 300px;
    
        > div {
            overflow: auto;
            height: 200px;
    
            .service {
                min-width: 250px;
                border-radius: 16px;
                background-color: #adadad;
                background-size: 100% 100%;
            }
        }
    }
}