@import '/src/assets/theme/main.theme';

.services-cat-container{
    padding: 32px 16px 16px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    .service {
        width: 250px;
        height: 250px;
        background-size: cover;
        background-position-x: center;
        position: relative;
        margin: 0 8px 8px 0;
        cursor: pointer;

        .signature {
            position: absolute;
            padding: 8px;
            display: flex;
            flex-direction: column;
            width: calc(100% - 16px);
            height: 15%;
            bottom: 0;
            background-color: rgba($main-color, 0.75);
            &:hover {
                height: 75%;
                background-color: rgba($main-color, 0.95);

                .description {
                    display: block;
                }
            }

            .label {
                color: white;
                font-size: 2vh;
                margin-bottom: 16px;
                text-shadow: 1px 1px 1px $text-color;
            }
            .description {
                color: white;
                font-size: 1.8vh;
                display: none;
                text-shadow: 1px 1px 1px $text-color;
                overflow: auto;
            }
        }
    }
}
