<div class="flex-container">
  <div class="first">
 
    <h1>/...../</h1>
    <ul>
      <li><p><span><i>1..... </i></span></p></li>
      <li><p><span><i>2 ......" </i></span></p></li>
      <li><p><span><i>3 ...... </i></span></p></li>
      <li><p><span><i>4 ...... </i></span></p></li>
    </ul>
  </div>  

  <div class="second">
    <div>
      <h1> НАШИ  УСЛУГИ</h1>

      <p><span><i>Услуги врача психотерапевта </i></span></p>
      <ul>
        <li><p><span><i>Прием врача психотерапевта </i></span></p></li>
      </ul>

      <p><span><i>Услуги врача хирурга </i></span></p>
      <ul>
        <li><p><span><i>Прием врача хирурга</i></span></p></li>
      </ul>     

      <p><span><i>Услуги онколога(маммолога) </i></span></p>
      <ul>
        <li><p><span><i>УЗИ мягких тканей</i></span></p></li>
        <li><p><span><i>УЗИ слюнных желез</i></span></p></li>
        <li><p><span><i>УЗИ периферических лимфоузлов(3 и более анатомические зоны)</i></span></p></li>
        <li><p><span><i>УЗИ периферических лимфоузлов(1-2 анатомические зоны)</i></span></p></li>
        <li><p><span><i>УЗИ щитовидной железы и л/у шеи</i></span></p></li>
        <li><p><span><i>Цитологическое исследование пунктата из щитовидной железы (1 образование)</i></span></p></li>
        <li><p><span><i>Цитологическое исследование пунктата и отделяемого (1стекло) (кроме щитовидной железы)</i></span></p></li>
        <li><p><span><i>Пункция образования щитовидной железы</i></span></p></li>
        <li><p><span><i>Пункция более 2-х образований под контролем УЗИ (кроме щитовидной железы)</i></span></p></li>
        <li><p><span><i>Пункция 1-2-х образований под контролем УЗИ (кроме щитовидной железы)</i></span></p></li>
        <li><p><span><i>УЗИ 1-й молочной железы и зоны регионарных л/у с одной стороны</i></span></p></li>
        <li><p><span><i>УЗИ обеих молочных желез и зон регионарных лимфоузлов</i></span></p></li>
        <li><p><span><i>Прием врача онколога (маммолога)</i></span></p></li>
      </ul>  

    </div>    
  </div>  
</div>
