@import "../../../styles/theme";

$alpha: map-get($theme, alpha);

:host {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: auto;

  .main-container {
    width: 100%;

    .content-container {
      flex-basis: 100%;
    }
  }

  .data {
    height: calc(100% - 87px);

    display: flex;
  }
}